

.carrito{

    background-color: rgba(1, 48, 202, 0.451);
    border-radius: 15px;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    max-width: 500px;
    margin-bottom: 100px;
    margin-left: 600px;
    color: wheat;
   
    
    
    
}

.car{

    font-size: 40px;
}

.po{

    height: 400px;
    width: 300px;
}

.ses{

    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    background-image: url(../../../public/assets/5c71f2087044c0eeb0cf8054964f1e54--rooms-for-rent-empty-room.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 15px;
    color: black;
    
}


.titi{

    color: green;
}
.total{

    background-color: rgba(0, 128, 0, 0.623);
    border-radius: 10px;
    
}


.espa{

    margin-bottom: 250px;
}
   
