.entrada{

    image-rendering: optimizeQuality;
    background-image: url(../../public/assets/stranger.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

